@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai");
html {
  font-family: "Baloo Bhai", sans-serif;
  font-size: 4em;
  background-color: black;
}

div,
h1 {
  color: white;
}

div.outer {
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

div.outer {
  margin: 0;
}

.DownCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wallet {
  font-size: 0.6em;
}

.title {
  line-height: 0.85em;
}

.MiddleCon {
  padding: 0.85em;
}

button {
  font-family: "Baloo Bhai", sans-serif;
  line-height: 0.85em;
  background-color: #000000;
  border-radius: 1rem;
  border: 2px dashed #ffffff;
  width: 40vw;
  padding-top: 3em;
  padding-bottom: 3em;
}